@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Lato', 'Times', serif;
  font-weight: 400;
  font-size: 16px;
  color: #787A80;
  background-color: #fff;
}

a {
  color: #424551;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.button {
  padding: 0px 40px;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  transition: all .1s ease-in-out;
}

.button:hover {
  background: linear-gradient(45deg, rgba(247, 125, 54, 0.7) 0%, rgba(239, 8, 0, 0.7) 100%);
}

.button:active {
  color: #000;
}

.button--trans {
  padding: 0px 40px;
  border-radius: 4px;
  border: 2px solid #F75E05;
  background: transparent;
  color: #F75E05;
  font-weight: 700;
  font-size: 16px;
  line-height: 49px;
  letter-spacing: 0.5px;
  transition: all .1s ease-in-out;
}

.button--trans:hover {
  background: linear-gradient(45deg, rgba(247, 125, 54, 0.3) 0%, rgba(239, 8, 0, 0.3) 100%);
}

.button--trans:active {
  color: #000;
}

.button-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.lock {
  overflow: hidden;
}

.header__burger:hover {
  opacity: 0.6;
}

.header__burger span {
  background-color: #f77d36;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  transition: 0.3s;
}

.header__burger::before {
  content: '';
  background-color: #f77d36;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.header__burger::after {
  content: '';
  background-color: #f77d36;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.3s;
}

.header__burger.active::before {
  background-color: #fff;
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  background-color: #fff;
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  transform: scale(0);
}

.header__menu.active {
  right: 0px;
}

.subtitle {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
  z-index: 4;
}

.title {
  position: relative;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  z-index: 4;
}

.header {
  position: relative;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.header__body {
  position: relative;
  z-index: 3;
}

.header__nav {
  position: relative;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: minmax(100px, 130px) 1fr auto;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

.header__nav::before {
  position: absolute;
  content: '';
  background-image: url("../img/bg/arrow.svg");
  background-repeat: repeat;
  transform: rotate(-140deg);
  width: 110px;
  height: 160px;
  top: 110px;
  left: -25%;
}

.header__nav::after {
  position: absolute;
  content: '';
  background-image: url("../img/bg/arrow.svg");
  background-repeat: repeat;
  width: 110px;
  height: 160px;
  top: -40px;
  right: -20%;
}

.header__logo {
  z-index: 10;
}

.header__menu {
  margin-left: 60px;
}

.header__item {
  display: inline;
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 20px;
}

.header__link {
  transition: all 0.1s ease-in-out;
}

.header__link:hover {
  color: #262829;
}

.header__link:active {
  color: #000;
}

.header__login {
  position: relative;
  padding-left: 26px;
  margin-left: 36px;
}

.header__login::after {
  content: '';
  position: absolute;
  background-image: url("../img/header/login.svg");
  background-repeat: no-repeat;
  width: 17.5px;
  height: 18px;
  margin: auto 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.header__login:hover {
  color: #262829;
}

.header__login::after:hover {
  background-image: url("../img/header/login.svg") blue;
}

.header__login:active {
  color: #000;
}

.header__burger {
  display: none;
}

.header__main {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1E212C;
}

.header__video {
  margin-top: 11px;
  display: inline-flex;
  align-items: center;
}

.header__title {
  position: relative;
  margin-top: 22px;
  max-width: 500px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  z-index: 6;
}

.header__title::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg/shapes.svg");
  right: -5px;
  bottom: 30px;
  width: 88px;
  height: 47px;
  z-index: -2;
}

.header__img {
  margin-right: -35px;
}

.header__buttons {
  position: relative;
  margin-top: 60px;
}

.header__buttons button + button {
  margin-left: 24px;
}

.header__buttons::after {
  content: "";
  position: absolute;
  background-image: url("../img/bg/shape.svg");
  right: 60px;
  bottom: -275%;
  width: 61px;
  height: 61px;
}

.header__static {
  margin-top: 188px;
  padding-bottom: 97px;
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/bg/circles.svg");
  background-repeat: no-repeat;
  width: 285px;
  height: 285px;
  bottom: -100px;
  left: 0px;
  z-index: 1;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/bg/dots.svg");
  background-repeat: no-repeat;
  width: 187px;
  height: 137px;
  bottom: 190px;
  right: -30px;
  z-index: 1;
}

.video__button-bg {
  display: inline-block;
  padding: 16px;
  background: rgba(255, 63, 58, 0.12);
  border-radius: 100%;
  transition: all 0.4s ease-in-out;
}

.video__button-bg:hover {
  padding: 5px;
}

.video__button-bg:hover .video__button {
  background-color: #fe2c25;
}

.video__button {
  position: relative;
  background-color: #FF3F3A;
  height: 52px;
  width: 52px;
  border-radius: 100%;
}

.video__button img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  margin-left: 2px;
}

.static {
  position: relative;
  z-index: 1;
}

.static__list {
  display: flex;
  justify-content: space-between;
}

.static__item {
  position: relative;
  color: #1E212C;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.static__item:first-child::after {
  display: none;
}

.static__item::after {
  content: '';
  position: absolute;
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: -30%;
}

.static__text span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}

.why-we {
  position: relative;
  margin-top: 180px;
  z-index: 5;
}

.why-we__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.why-we__img {
  position: relative;
  z-index: 5;
}

.why-we__description {
  max-width: 390px;
}

.why-we__list {
  margin-top: 40px;
  color: #424551 margin;
}

.why-we__item {
  position: relative;
  list-style-position: revert-layer;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 12px;
  margin-left: 30px;
}

.why-we__item::after {
  content: '';
  position: absolute;
  background-image: url("../img/why-we/dots.svg");
  width: 16px;
  height: 16px;
  top: 6%;
  left: -30px;
}

.why-we__item:last-child {
  margin-bottom: 0;
}

.why-we__button {
  margin-top: 48px;
}

.why-we::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 290px;
  left: 0px;
  top: 60px;
  background-image: url("../img/why-we/bg2.svg");
  background-repeat: no-repeat;
  z-index: 2;
}

.why-we::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 290px;
  right: 0px;
  bottom: 0;
  background-image: url("../img/why-we/bg1.svg");
  background-repeat: no-repeat;
}

.courses {
  margin-top: 180px;
}

.courses__body {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.courses__item {
  display: inline-flex;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  max-height: 214px;
}

.courses__description {
  margin: 27px;
}

.courses__type {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 1px 8px;
  background: #03CEA4;
  border-radius: 4px;
  color: #FFFFFF;
  margin-bottom: 21px;
}

.courses__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 20px;
}

.courses__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
  margin-bottom: 20px;
  margin-right: 8px;
}

.courses__name {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  padding-left: 10px;
}

.courses__name::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #787A80;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.courses-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.marketing {
  background: #03CEA4;
}

.management {
  background: #5A87FC;
}

.recruting {
  background: #F89828;
}

.design {
  background: #F52F6E;
}

.benefist {
  margin-top: 180px;
  text-align: center;
}

.benefist__active {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.benefist__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #9A9CA5;
  background-color: transparent;
  font-size: 16px;
  line-height: 160%;
  padding: 10px 0;
  transition: all .4s ease-in-out;
}

.benefist__button svg {
  width: 15px;
  height: 15px;
  margin-right: 8.1px;
  fill: #9A9CA5;
}

.benefist__body {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  transition: all 2s ease-in-out;
}

.benefist__body.active {
  display: flex;
}

.benefist__description {
  text-align: left;
}

.benefist__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 24px;
}

.benefist__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  max-width: 495px;
}

.benefist__button--active {
  border: 2px solid #FF3F3A;
  color: #FF3F3A;
  border-radius: 4px;
}

.benefist__button--active svg {
  fill: #FF3F3A;
}
