@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Lato', 'Times', serif;
  font-weight: 400;
  font-size: 16px;
  color: #787A80;
  background-color: #fff;
}

a {
  color: #424551;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.button {
  padding: 0px 40px;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  transition: all .1s ease-in-out;
}

.button:hover {
  background: linear-gradient(45deg, #f77d36 0%, #ef0800 100%);
}

.button:active {
  color: #000;
}

.button--trans {
  padding: 0px 35px;
  border-radius: 4px;
  border: 2px solid #F75E05;
  background: transparent;
  color: #F75E05;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
}

.header {
  position: relative;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.header__body {
  position: relative;
  z-index: 3;
}

.header__nav {
  position: relative;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: minmax(100px, 130px) 1fr auto;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

.header__nav::before {
  position: absolute;
  content: '';
  background-image: url("../img/bg/arrow.svg");
  background-repeat: repeat;
  width: 110px;
  height: 160px;
  top: -40px;
  right: -20%;
}

.header__menu {
  margin-left: 60px;
}

.header__item {
  display: inline;
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 20px;
}

.header__link {
  transition: all 0.1s ease-in-out;
}

.header__link:hover {
  color: #262829;
}

.header__link:active {
  color: #000;
}

.header__login {
  position: relative;
  padding-left: 26px;
  margin-left: 36px;
}

.header__login::after {
  content: '';
  position: absolute;
  background-image: url("../img/header/login.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 18px;
  margin: auto 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.header__login:hover {
  color: #262829;
}

.header__login::after:hover {
  background-image: url("../img/header/login.svg") blue;
}

.header__login:active {
  color: #000;
}

.header__burger {
  display: none;
}

.header__main {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1E212C;
}

.header__video {
  margin-top: 11px;
  display: inline-flex;
  align-items: center;
}

.header__title {
  margin-top: 22px;
  max-width: 500px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
}

.header__img {
  margin-right: -35px;
}

.header__buttons {
  margin-top: 60px;
}

.header__buttons button + button {
  margin-left: 24px;
}

.header__bottom {
  margin-top: 188px;
  padding-bottom: 97px;
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/bg/circles.svg");
  background-repeat: no-repeat;
  width: 285px;
  height: 285px;
  bottom: -100px;
  left: 0px;
  z-index: 1;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/bg/dots.svg");
  background-repeat: no-repeat;
  width: 187px;
  height: 137px;
  bottom: 190px;
  right: -30px;
  z-index: 1;
}

.video__button-bg {
  display: inline-block;
  padding: 16px;
  background: rgba(255, 63, 58, 0.12);
  border-radius: 100%;
  transition: all 0.4s ease-in-out;
}

.video__button-bg:hover {
  padding: 5px;
}

.video__button-bg:hover .video__button {
  background-color: #fe2c25;
}

.video__button {
  position: relative;
  background-color: #FF3F3A;
  height: 52px;
  width: 52px;
  border-radius: 100%;
}

.video__button img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  margin-left: 2px;
}

.static__list {
  display: flex;
  justify-content: space-between;
}

.static__item {
  position: relative;
  color: #1E212C;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.static__item:first-child::after {
  display: none;
}

.static__item::after {
  content: '';
  position: absolute;
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: -30%;
}

.static__text span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}
