body {
	font-family: 'Lato', 'Times', serif;
	font-weight: 400;
	font-size: 16px;
	color: #787A80;
	background-color: #fff;
}
a {
	color: #424551;;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	position: relative;
	max-width: 1260px;
	padding: 0 15px;
	margin: 0 auto;
	z-index: 5;
}
.content {
	flex: 1 1 auto;
}
.link-active {
	color: #FF3F3A;
}
.button {
	position: relative;
	padding: 0px 40px;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	line-height: 52px;
	letter-spacing: 0.5px;
	transition: all .2s ease-in-out;
}
.button::before {
	position: absolute;
	content: "";
	inset: 0; 
	background: linear-gradient(45deg, rgba(247, 125, 54, 0.7) 0%, rgba(239, 8, 0, 0.7) 100%);
	border-radius: 4px;
	z-index: 2;
	transition: opacity 0.25s linear;
	opacity: 0;
}
.button:hover::before {
	opacity: 1;
}
.button:active {
	color: #000;
}
.button--trans {
	padding: 0px 40px;
	border-radius: 4px;
	border: 2px solid #F75E05;
	background: transparent;
	color: #F75E05;
	font-weight: 700;
	font-size: 16px;
	line-height: 49px;
	letter-spacing: 0.5px;
	transition: all 0.5s ease-in-out;
}
.button--trans:hover {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	color: #FFFFFF;
}
.button--trans:active {
	color: #000;
}
.button-link {
	padding-top: 15px;
	padding-bottom: 15px;
}
.lock {
	overflow: hidden;
}

.header__burger:hover {
	opacity: 0.6;
}
.header__burger span {
	background-color: rgba(247, 125, 54, 1);
	position: absolute;
	width: 100%;
	height: 2px;
	top: 9px;
	left: 0;
	transition: 0.3s;
}
.header__burger::before {
	content: '';
	background-color: rgba(247, 125, 54, 1);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0px;
	transition: 0.3s;
}
.header__burger::after {
	content: '';
	background-color: rgba(247, 125, 54, 1);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: 0.3s;
}
.header__burger.active::before {
	background-color: #fff;
	transform:rotate(45deg);
	top: 9px;
}
.header__burger.active::after {
	background-color: #fff;
	transform:rotate(-45deg);
	bottom: 9px;
}
.header__burger.active span {
	transform:scale(0);
}
.header__menu.active {
	right: 0px;
}
.subtitle {
	position: relative;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
	margin-bottom: 8px;
	z-index: 4;
}
.title {
	position: relative;
	font-weight: 900;
	z-index: 100%;
	font-size: 46px;
	color: #1E212C;
	z-index: 4;
}